<html>

<head>
    <title>Login Form</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-blue-100 flex flex-col items-center justify-center h-screen"
    style="background-image: url('https://images.pexels.com/photos/956999/pexels-photo-956999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-64" action="/users/login" method="post">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username:</label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="username" name="username" type="text" required>
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password:</label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="password" name="password" type="password" required>
        </div>
        <div class="flex items-center justify-between">
            <button
                class="bg-blue-300 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">Login</button>
        </div>
    </form>
    <footer class="bg-blue-300 text-white text-center py-4 w-full">
        <span class="text-sm">Don't have an account? <a href="/signup" class="underline">Sign up Here</a></span>
    </footer>
</body>

</html>